In [15]:
import pandas as pd
score = []
name = []
className = input("과목명?")
i = 0
while i > -1:
    n = input("이름?(종료시 '0') ")
    if n == '0':
        i = -1
    else:
        name.append(n)
        s = int(input("점수? "))
        score.append(s)
    
name_df = pd.DataFrame(name, columns=["이름"])
score_df = pd.DataFrame(score, columns=[className])

totalList = pd.concat([name_df,score_df], axis =1)
totalList

과목명? asf
이름?(종료시 '0')  a
점수?  1
이름?(종료시 '0')  b
점수?  2
이름?(종료시 '0')  c
점수?  3
이름?(종료시 '0')  0

  이름  asf
0  a    1
1  b    2
2  c    3

## 딕셔너리 이용

In [33]:
import pandas as pd

a={}
i = 0
num = int(input("과목수? "))
while i > -1:
    n = input("이름? 종료시'0")
    if n == "0":
        i = -1
    else:
        slist = []        
        for i in range(0,num):
            s = int(input("점수?"))
            slist.append(s)
        avg = sum(slist) / num
        slist.append(avg)
        a[n] = slist
        
       
total = pd.DataFrame(a)
total

과목수?  3
이름? 종료시'0 송호성
점수? 50
점수? 50
점수? 50
이름? 종료시'0 김철수
점수? 40
점수? 50
점수? 50
이름? 종료시'0 강철민
점수? 50
점수? 60
점수? 70
이름? 종료시'0 0

    송호성        김철수   강철민
0  50.0  40.000000  50.0
1  50.0  50.000000  60.0
2  50.0  50.000000  70.0
3  50.0  46.666667  60.0