In [3]:
a=3
b=5
a+b

8

# This is a H1
## This is a H2
### This is a H3
#### This is a H4
##### This is a H5
###### This is a H6

In [4]:
a = 3.2
print(type(a))
print(round(a))


print(a)

<class 'float'>
3
3.2

In [12]:
aList = (1,2,3)
print(aList)

(1, 2, 3)

In [14]:
a= "10"
b =3
answer = int(a)+ b
print(answer)

13

In [18]:
integer_value =123
float_value = 12.456
sumation = integer_value + float_value
sumation

135.456

In [20]:
mul = integer_value*float_value
print(mul)

1532.088

In [21]:
div = integer_value/float_value
div

9.8747591522158

In [23]:
integer_value2 = int(float_value)
exponential = integer_value2**3
exponential

1728

In [ ]:
mod = integer_value%int(float_value)
mod

In [ ]:
print(input("현재시간을 입력 : "))

## 문제 1 (현재 시간과 분을 입력값으로 받아서 두개의 값을 더하는 연산을 수행하세요)

In [2]:
hh = int(input("현재시간을 입력하세요 : "))
mm = int(input("분을 입력하세요 : "))
print(hh+mm)

현재시간을 입력하세요 :  10
분을 입력하세요 :  30

40

## 문자열

In [8]:
head = "smart"
tail = "analytics"
fullString = head + " " +tail
print(fullString)

print("*"*20)

yearweek = "201801"
print(yearweek[0])
print(yearweek[0:4])
print(yearweek[4:])

smart analytics
********************
2
2018
01

In [2]:
yearweek = "2017W28"
print(yearweek.count("W"))

print(yearweek.index("W"))
delimeter = yearweek.index("W")
newYearweek = yearweek[:delimeter]+yearweek[delimeter+1:]
print(newYearweek)

1
4
201728

## 형변환

In [3]:
strValue = '1234'
cvIntValue = int(strValue)
print(type(cvIntValue))

strValue = '1234'
cvFloatValue = float(strValue)
print(type(cvFloatValue))

numberValue = 1234
cvStrValue = str(numberValue)
print(type(cvStrValue))

<class 'int'>
<class 'float'>
<class 'str'>

## 대소문자 변환

In [5]:
lowerletter = "aaa"
upperletter = lowerletter.upper()
print(upperletter)

final = upperletter.lower()
print(final)

AAA
aaa

## 문자열 분리

In [7]:
orgletter = "2017w12"
splitter = "w"
answer = orgletter.split(splitter)
print(answer[0])
print(answer[1])

2017
12

## 문제 2 "SEC 20180212 250"

In [14]:
strValue = "SEC 20180212 250"
stock_name = strValue[:3]
value = strValue[-3:]
date = strValue[4:-4]
print(value)
print(stock_name)
print(date)

250
SEC
20180212

## 문제 3 "Sec 2018W28 250"

In [44]:
strValue = "Sec 2018W28 250"
upperStr = strValue.upper()
print(upperStr)


stock_name = upperStr[:3]
value = upperStr[-3:]
date = upperStr[4:-4].split("W")
print(stock_name)
print(date[0]+date[1])
print(value)

SEC 2018W28 250
SEC
201828
250

## 리스트(List)

In [67]:
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712,201713]



secinfo =['SEC', 120, 130, [201712, 201713]]
print(secinfo[1])
print(secinfo[3])
print(secinfo[3][0])
print(secinfo[0:3])

len(secinfo)

updateList = [120,130,140,150]
print(updateList)
updateList[2] =180
print(updateList)

updateList.remove(180)
print(updateList)
del updateList[2]
print(updateList)
updateList[1:]=[]

print(updateList)

120
[201712, 201713]
201712
['SEC', 120, 130]
[120, 130, 140, 150]
[120, 130, 180, 150]
[120, 130, 150]
[120, 130]
[120]

## 리스트 관련 주요함수

In [68]:
functionList = [120, 130, 140, 150]
functionList.append(100) 
functionList.insert(3,100)
functionList.extend([11,12])
print(functionList)

functionList.sort(reverse =False)
print(functionList)

print(functionList.index(150))

print(len(functionList))
print(min(functionList))
print(max(functionList))
print(sum(functionList))

[120, 130, 140, 100, 150, 100, 11, 12]
[11, 12, 100, 100, 120, 130, 140, 150]
7
8
11
150
763

## 리스트 관련 주요함수 #2

In [92]:
functionList = [120,130,140,150,120]
print(functionList.count(120))

functionList.pop()
print(functionList)

2
[120, 130, 140, 150]

## 문제 4 
### [120, 150, 300, 500, 1000,100,2000] 값에서 최소 최대값을 뺸 평균을 average 이름의 변수에

In [72]:
value = [120, 150, 300, 500, 1000, 100 ,2000]
valueMax = max(value)
valueMin = min(value)
average = (valueMax - valueMin)/2
print(average)
print(type(average))

950.0
<class 'float'>

## 튜플

In [74]:
timeTuple = (1,2,3,4,5,6)
print(timeTuple[1])
print(timeTuple[3])
print(timeTuple[0:3])

len(timeTuple)

2
4
(1, 2, 3)

6

## 딕셔너리

In [93]:

dic = {"name":"sec","id": "300000", "address": "suwon"}
print(dic)
print(dic['name'])

dic["name"] = "sec2"
dic["stock"] = "yes"
print(dic)
print(dic["stock"])

dic.pop("name")
print(dic)

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec
{'name': 'sec2', 'id': '300000', 'address': 'suwon', 'stock': 'yes'}
yes
{'id': '300000', 'address': 'suwon', 'stock': 'yes'}

## 딕셔너리 활용

In [97]:
# 키정의
tuple1 = ("미국","LEDTV","01")
tuple2 = ("미국","LEDTV","02")

dic = {tuple1: 2.5, tuple2: 1.2}
print(dic[tuple1])
# 딕셔너리 활용
america = "미국" 
korea = "한국"
japan = "일본"

dic = {america : "양호", korea : 2, japan : 3}
print(dic[input("나라를 입력하세요 : ")])

2.5

나라를 입력하세요 :  한국

2

## 문제 5
### dic = {"name":"sec","id":"300000","address": "suwon"}에서 id 삭제하기

In [99]:
dic = {"name":"sec","id":"300000","address": "suwon"}
dic.pop("id")
print(dic)

{'name': 'sec', 'address': 'suwon'}

## Pandas DataFrame

In [101]:
import pandas as pd

data = {"name": ['A고객','B고객','C고객',"D고객"],'age':[27,40,33,29],'stock_age':[2,10,5,1]}
dataFrame = pd.DataFrame(data)
print(dataFrame)

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

In [1]:
import pandas as pd

test = [10,100,1000,10000]

testDf = pd.DataFrame(test)

testDf.columns=['test']
testDf

    test
0     10
1    100
2   1000
3  10000

In [5]:
import pandas as pd

date = ['16.02.29','16.02.26','16.02.25','16.02.26']
date2 = ['17.02.29','17.02.26','17.02.25','17.02.26']

date_df = pd.DataFrame(date, columns = ['date2'])
date_df2 = pd.DataFrame(date2, columns = ['date23'])

final = pd.concat([date_df,date_df2],axis =1)
final

      date2    date23
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.26  17.02.26

## 파이썬 패키지 활용하기

In [45]:
import numpy as np

np.random.randint(11)

10

## 파이썬 문법
### 1. 반복문 (while, for)

In [47]:
tvList = ['UN40EN001','UN40EN002','UN40EN003','UN40EN004']
preFix = "LEDTV_"

for i in range(0,4,1):
    tvList[i] = preFix + tvList[i]
    

    print(tvList[i])

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
LEDTV_UN40EN004

In [52]:
tvList = ['UN40EN001','UN40EN002','UN40EN003','UN40EN004']
preFix = "LEDTV_"

i = 0
listLength = len(tvList)
while(i < listLength):
    tvList[i] = preFix + tvList[i]
    
    print(tvList[i])
    i = i +1

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
LEDTV_UN40EN004

In [55]:
tvList2 = ['UN40EN001','UN40EN002','UN40EN003','UN40EN004']

for i in range(0,4,1):
    tvList2[i]
    print(tvList2[i])

i = 0
while(i < len(tvList2)):
    print(tvList2[i])
    
    i = i+1

UN40EN001
UN40EN002
UN40EN003
UN40EN004
UN40EN001
UN40EN002
UN40EN003
UN40EN004

#### 2. 조건 판단하기

In [56]:
testModel = "UN40EN001"
preFix = "LEDTV_"

if testModel.count(preFix) == 0:
    testModel = preFix + testModel
else:
    pass
testModel

'LEDTV_UN40EN001'

In [3]:
testModel = "LEDTV_LEDTV_LEDTV_UN40EN001"
preFix = "LEDTV_"
print(testModel.count(preFix))
print(testModel.replace(preFix,""))

if testModel.count(preFix) > 1:
    testModel = testModel.replace(preFix,"")
    
    print(testModel)
    testModel = preFix + testModel
    
elif testModel.count(preFix) == 1:
    pass
else:
    testModel = preFix + testModel
    
print(testModel)

3
UN40EN001
UN40EN001
LEDTV_UN40EN001

In [8]:
tvList = ["LEDTV_UN40EN001","LEDTV_UN40EN002","LEDTV_UN40EN003"]
mobileList = ["G3_MO001","G3_MO002","G3_MO003"]
speakerList = ["BL_SP001","BL_SP002","BL_SP003"]

productList = [tvList, mobileList, speakerList]

for i in range(0, len(productList)):
    productlength = productList[i]
    for j in range (0,len(productlength)):
        if (productList[i][j].split("_")[0]=="G3") & (productList[i][j].split("_") == "MO002" ):
            pass
        print(productList[i][j])

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
G3_MO001
G3_MO002
G3_MO003
BL_SP001
BL_SP002
BL_SP003

## 문제 
### tvList = ['UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'UN40EN004'] LEDTV_ 가 한 개만 오도록

In [9]:
tvList2 = ['UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'UN40EN004']
preFix ="LEDTV_"

for i in range(0,len(tvList2)):
    if tvList2[i].count(preFix) > 1:
        tvList2[i] = tvList2[i].replace(preFix,"")
        tvList2[i] = preFix + tvList2[i]
    elif tvList2[i].count(preFix) == 1:
        pass
    else:
        tvList2[i] = preFix + tvList2[i]
    print(tvList2[i])

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
LEDTV_UN40EN004

## 문제
#### nationList ['A01', '한국', 'A02', '미국', 'A03', '중국'] 국가코드만 출력

In [9]:
nationList = ['A01', '한국', 'A02', '미국', 'A03', '중국']

nationList2 =[]
for i in range(0, len(nationList)):
    if nationList[i].count("A") >= 1:
        nationList2.append(nationList[i])
   
    else:
        pass
    
nationList2

['A01', 'A02', 'A03']

In [3]:
score = int(input("score? "))

if score >= 90:
    result = "A"
elif score >= 80:
    result = "B"
else:
    result ="C"
print(result)

score?  11

C

### 3. 반복 프로세스 함수화

In [1]:
import pandas as pd
customerData = pd.read_csv("C:/Users/Lenovo/pywork/dataset/kopo_customerdata.csv")


customerTotalList= customerData["TOTAL_AMOUNT"].tolist()
totalMax = max(customerTotalList)
totalMin = min(customerTotalList)

# print(customerTotalList.count(totalMin))
# print(totalMax)

totalMaxCount = customerTotalList.count(totalMax)
totalMinCount = customerTotalList.count(totalMin)

average = (sum(customerTotalList)-(totalMaxCount*totalMax+totalMinCount*totalMin)) / (len(customerTotalList)-totalMinCount-totalMaxCount)

print(sum(customerTotalList)/ len(customerTotalList))


print(average)

35229.06333333333
35248.91490376756