In [11]:
pwd# 작업하는 위치 출력(printing work d)

'C:\\Users\\Lenovo\\pywork'

# 첫번째 실습
### 첫 번째 실습 1

# 1.라이브러리 불러오기

In [8]:
import pandas as pd

# 2. 데이터 불러오기

In [9]:
aa= pd.read_csv("./dataset/kopo_customerdata.csv")
aa.head()

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [10]:
a=3
b=5
c=7
print(a+b)
print(a+c)
a+b

8
10

8

In [5]:
dic ={"name":"sec",
      "id":"300000",
      "address":"suwon"}
print(dic["name"])
dic.keys()

sec

dict_keys(['name', 'id', 'address'])