### 데이터베이스 접속 후 데이터 가져오기
1. 데이터베이스에 따라서 필요한 라이브러리 선언(postgreSQL -> psycopg2, mariaDB -> pymysql)
2. 엔진 생성하기 -> create_engine('데이터베이스종류://데이터베이스계정정보(id:pw)@데이터베이스주소:포트번호/데이터베이스이름)
3. 데이터 불러온 후 데이터프레임으로 저장 (pd.read_sql_query-> sql쿼리문으로 조회 후 데이터를 불러옴) 엔진 이용!
4. 불러온 데이터의 컬럼명을 바꾸기

### 데이터베이스 접속 후 데이터 넣기
1. 데이터베이스에 필요한 라이브러리 선언
2. 엔진 생성
3. 데이터프레임으로 저장된 데이터를 데이터베이스에 접속 후 넣기\
to_sql(name = , con = , index = , if_exists = )

### 2가지 데이터베이스에 접속을 해서 데이터를 가져온 후 병합 및 저장
1. 라이브러리 선언
2. 엔진 생성
3. 데이터를 불러오기
4. 데이터프레임에 저장
5. 데이터 병합 ( axis = 0 : 위아래, axis = 1 :좌우로)
6. csv로 저장 데이터프레임.to_csv("./dataset/st01_st02.csv")

## (실습) aws postgresql 서버에 접속 한후
“kopo_product_volume” 자료를 불러와서
컬럼명을 변경 aws mariadb에 저장하세요
kopo_product_volume_내이름

In [1]:
import psycopg2
import pymysql
import pandas as pd
from sqlalchemy import create_engine 
# 데이터 불러올 엔진
# engine_postgres = create_engine('postgresql://haiteam:haiteam@www.hadoopkorea.com:5432/postgres')

# 데이터를 넣을 엔진
test1 = 'mysql+pymysql://kopo:kopo@www.hadoopkorea.com:3306/kopo'
test2 = "postgresql://postgres:postgres@127.0.0.1:5432/postgres"
engine_mariadb = create_engine(test2) 

# 데이터 불러오기
# selloutData = pd.read_sql_query("select * from kopo_product_volume",engine_postgres)
selloutDataFile = pd.read_csv("./dataset/kopo_product_volume.csv")
# 불러온 데이터의 컬럼명 바꾸기
selloutDataFile.columns = ["regionid_song","productgroup_song","yearweek","volume"]

# 넣을 데이터의 이름 정해주기
resultName = "kopo_product_volume_송호성3"

# 데이터 넣기(저장하기)
# selloutData.to_sql(name=resultName, con=engine_mariadb, index = False, if_exists='replace')
selloutDataFile.to_sql(name=resultName, con = engine_mariadb, index = False, if_exists = 'replace' )
selloutDataFile

AttributeError: 'DataFrame' object has no attribute 'to_spl'

In [2]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [7]:
#데이터베이스 엔진 생성
engine_postgresql = ('postgresql://postgres:postgres@127.0.0.1:5432/postgres')

# 데이터 불러오기
dataFrame = pd.read_csv("./dataset/kopo_product_volume.csv")

dataFrame.columns = ["regionid", "productgroup", "yearweek", "volume"]
dataFrame.head()
result = "kopo_product_volume_송호성3"
dataFrame.to_sql(name=resultName, con = engine_postgresql, index = False, if_exists = 'replace' )
dataFrame

    regionid productgroup  yearweek  volume
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]