In [1]:
import pandas as pd

In [12]:
rowList = []
columnList1 = ["101", "aaa"]
columnList2 = ["102", "bbb"]
columnList3 = ["103", "ccc"]
for i in range(0, 3):
    columnList
    rowList.append(columnList[i])

pd.DataFrame(rowList)

   0
0  c
1  o
2  l

### 1. 테이블 검색

In [13]:
import pandas as pd

In [15]:
import requests, bs4

In [22]:
url = "https://sparkkorea.com/%ed%85%8c%ec%8a%a4%ed%8a%b8/"
resp = requests.get(url)
resp.encoding = 'utf-8'
data = resp.text
bs = bs4.BeautifulSoup(data,'html.parser')

tableTag = bs.find(name = "table",
                  attrs = {"id": 'test_table'})
trTags = tableTag.find(name = "tbody").findAll(name = "tr")
rawList=[]
columnList=[]

In [28]:
# 첫 행 디버깅

column = trTags[0].findAll(name = "td")

# column의 태그 이름을 찾기 
print(column[0].name)

columnLen = len(column)
rowCnt = len(trTags)
# for i in range(0, ):

td