In [1]:
import hashlib
import time
import csv
import random
from http.server import BaseHTTPRequestHandler, HTTPServer
from socketserver import ThreadingMixIn
import json
import re
from urllib.parse import parse_qs
from urllib.parse import urlparse
import threading
import cgi
import uuid
from tempfile import NamedTemporaryFile
import shutil
import requests # for sending new block to other nodes

import pandas as pd
from sqlalchemy import create_engine
import cx_Oracle

database = 'oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe'
engine = create_engine(database)

In [81]:
# 20190605 /(YuRim Kim, HaeRi Kim, JongSun Park, BohKuk Suh , HyeongSeob Lee, JinWoo Song)
from multiprocessing import Process, Lock # for using Lock method(acquire(), release())

# for Put Lock objects into variables(lock)
lock = Lock()

PORT_NUMBER = 8666
g_txFileName = "txData.csv"
g_bcFileName = "blockchain.csv"
g_nodelstFileName = "nodelst.csv"
g_receiveNewBlock = "/node/receiveNewBlock"
g_difficulty = 2
g_maximumTry = 100
g_nodeList = {'trustedServerAddress':'8666'} # trusted server list, should be checked manually

blockchain = []
block =['0','0','1525151', 'Genesis Block', '902848852f8b5ff00e88e87863d2b4947390bb63cae288ed14a47db0e54429b8', '0']
blockchain.append(block)
df_block = pd.DataFrame(data = blockchain)

df_block.columns = ["INDEX" , "PREVIOUHASH", "TIMESTAMP", "DATA", "CURRENTHASH","PROOF"]

df_block

resultName = "blockchain_11"
# 데이터 넣기(저장하기)
# df_block.to_sql(name=resultName, con=engine, index = False, if_exists='append',)

# group_export.to_sql(con=engine, name=example_table, if_exists='replace', 
#                     flavor='mysql', index=False)

# with engine.connect() as con:
#     con.execute('ALTER TABLE blockchain_33 ADD PRIMARY KEY (CURRENTHASH)')

blockchain_data = pd.read_sql("select * from blockchain_11", engine)

a = blockchain_data["currenthash"].tolist()
a[-1]
blockchain_data

,INDEX,previouhash,timestamp,data,currenthash,proof
0,0,0,1525151,Genesis Block,902848852f8b5ff00e88e87863d2b4947390bb63cae288...,0
1,1,sadfasdf,12314125,1231412,ASDJKHFLSG,12341
2,0,0,1525151,Genesis Block,902848852f8b5ff00e88e87863d2b4947390bb63cae288...,0
3,1,sadfasdf,12314125,1231412,ASDJKHFLSG,12341

In [19]:
data = pd.DataFrame(columns=["INDEX" , "PREVIOUHASH", "TIMESTAMP", "DATA", "CURRENTHASH","PROOF"])
data

Empty DataFrame
Columns: [INDEX, PREVIOUHASH, TIMESTAMP, DATA, CURRENTHASH, PROOF]
Index: []

In [37]:
title = ["index" , "PREVIOUSHASH", "TIMESTAMP", "DATA", "CURRENTHASH","PROOF"]
data

Empty DataFrame
Columns: [INDEX, PREVIOUHASH, TIMESTAMP, DATA, CURRENTHASH, PROOF]
Index: []

In [40]:
blockchain = []
block = ["1", "sadfasdf","12314125","1231412", "ASDJKHFLSG","12341"]
blockchain.append(block)
df_block = pd.DataFrame(blockchain,columns=title)
df_block

df_block.to_sql(name="db_blockchain", con=engine, index = False, if_exists='append')

IntegrityError: (cx_Oracle.IntegrityError) ORA-00001: unique constraint (KOPO.PK_DB_BLOCKCHAIN) violated
[SQL: INSERT INTO db_blockchain ("index", "PREVIOUSHASH", "TIMESTAMP", "DATA", "CURRENTHASH", "PROOF") VALUES (:"index", :PREVIOUSHASH, :TIMESTAMP, :DATA, :CURRENTHASH, :PROOF)]
[parameters: {'PREVIOUSHASH': 'sadfasdf', 'TIMESTAMP': '12314125', 'DATA': '1231412', 'CURRENTHASH': 'ASDJKHFLSG', 'PROOF': '12341', '"index"': '1'}]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [9]:
import pandas as pd
from sqlalchemy import create_engine
import cx_Oracle

database = 'oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe'
engine = create_engine(database)

block = {'index':'0',
         'previoushash':'DODOZBWPEI',
         'timestamp':'32356',
         'data':'3259824',
         'currenthash':'FOZBDIWOEB',
         'proof':'1242'
}
blockchain1 = []
blockchain1.append(block)
print(blockchain1)

df_block = pd.DataFrame(blockchain1)
df_block
resultName = "db_blockchain"
df_block.to_sql(name=resultName, con=engine, index = False, if_exists='append')

[{'index': '0', 'previoushash': 'DODOZBWPEI', 'timestamp': '32356', 'data': '3259824', 'currenthash': 'FOZBDIWOEB', 'proof': '1242'}]

In [27]:
db_blockchain=pd.read_sql("select * from {}".format(resultName), engine)
db_blockchain

ValueError: Table db_blockchain not found

In [14]:
db_blockchain_list = db_blockchain["INDEX"].tolist()
db_blockchain_list[-1]

'0'

In [25]:
resultName12 ='block12'
data = pd.DataFrame(columns=["INDEX" , "PREVIOUHASH", "TIMESTAMP", "DATA", "CURRENTHASH","PROOF"])
data.to_sql(name=resultName12,con = engine, index = False, if_exists='append')

data_block = pd.read_sql("select * from {}".format(resultName12), engine)
data_block

Empty DataFrame
Columns: [INDEX, previouhash, timestamp, data, currenthash, proof]
Index: []

In [41]:
db_blockchain=pd.read_sql("select * from {}".format(resultName), engine)
db_blockchain
print(list(db_blockchain))

['index', 'previoushash', 'timestamp', 'data', 'currenthash', 'proof']

In [21]:
a =data.values.tolist()

In [22]:
a

[]

In [8]:
pip show requests

Name: requests
Version: 2.22.0
Summary: Python HTTP for Humans.
Home-page: http://python-requests.org
Author: Kenneth Reitz
Author-email: me@kennethreitz.org
License: Apache 2.0
Location: c:\users\lenovo\anaconda3\lib\site-packages
Requires: idna, urllib3, certifi, chardet
Required-by: Sphinx, conda, conda-build, anaconda-project, anaconda-client
Note: you may need to restart the kernel to use updated packages.

In [26]:
pd.read_sql_table(resultName12,engine)

ValueError: Table block12 not found