In [2]:
import pandas as pd


math = ['70', '80', '60', '100','95']
english = ['85', '80', '90', '80','100']
history = ['70', '90','100', '90', '90']
className = []
for i in range(0, 3):
    name = input("과목명? ")
    className.append(name)
math_df = pd.DataFrame(math, columns=[className[0]])
english_df = pd.DataFrame(english, columns=["영어"])
history_df = pd.DataFrame(history, columns=["역사"])

total = pd.concat([math_df,english_df,history_df], axis =1)
total

과목명?  1
과목명?  2
과목명?  3

     1   영어   역사
0   70   85   70
1   80   80   90
2   60   90  100
3  100   80   90
4   95  100   90